@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Nunito+Sans:wght@200&family=Oswald:wght@700&family=Roboto:wght@300&family=Silkscreen&display=swap');

:root{
    --main-blue-color: #3174e9;
    --main-yellow-color: #f5cd1a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

a, p {
    text-decoration: none;
    color: var(--light-text-color);
    font-size: 1.3em;
}

h1, h2 {
    font-size: 3.2em;
    font-family: 'Oswald', sans-serif;
}

body {
    height: 200vh;
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    width: 100vw;
    position: fixed;
    z-index: 100;
    background-color: #fff;
    top: 0;
    box-shadow: 0 5px 10px 0px #05010133;
}

.navbar .container img {
    height: 100px;
}

.navbar a {
    padding-left: 40px;
}

.navbar .flex{
    justify-content: space-between;
    padding: 10px;
}

.navbar nav a {
    padding: 10px;
    font-weight: bold;
    color: var(--main-blue-color);
}

.navbar nav li {
    margin-right: 15px;
}

.navbar nav a:hover {
    border-bottom: 3px solid var(--main-blue-color);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ddd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 110;
}

.dropdown-content a {
    display: block;
    width: 100%;
    padding: 12px;
}

.dropdown-content a:hover {
    background-color: #ccc;
}

.nosotros:hover .dropdown-content {
    display: block;
    margin-top: 13px;
}

.navbar nav ul li:last-child {
    animation-name: scale;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.navbar nav ul li:last-child > a {
    background-color: var(--main-blue-color);
    color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
}

.navbar nav ul li:last-child > a:hover {
    background-color: #1f50a4;
    box-shadow: 0 0 9px 4px #201c9733;
    border-bottom: none;
}

/* Quiénes somos */
.quienes-somos {
    height: fit-content;
}

.quienes-somos .opacity {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fffbfb38;
    z-index: 30;
}

.qs-container {
    background-image: url("./img/qs-bg2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 0;
}

.qs-container::after,
.qs-container::before,
.opacity::after,
.opacity:before {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: #fff;
    transform: skewY(2deg);
     -webkit-transform: skewY(2deg);
     -moz-transform: skewY(2deg);
     -ms-transform: skewY(2deg);
}

.quienes-somos .title {
    background-color: var(--main-yellow-color);
    max-width: fit-content;
    text-align: left;
    left: 10%;
    bottom: 20%;
    position: absolute;
    z-index: 100;
    border-radius: 0 10px 10px 10px;
}

.quienes-somos .title h1 {
    color: #fff;
    letter-spacing: 3px;
    padding: 20px 40px;
    text-shadow:#050101;
}

.qs-text {
    margin-top: 80px !important;
    max-width: 1000px;
}

.qs-text p {
    text-align: center;
    font-size: 1.3em;
    padding: 0 20px;
}

/* Misión */
.mision {
    margin-top: 40px;
    background-color: var(--main-yellow-color);
    padding: 40px 70px;
}

.img-cont,
.mision-text,
.vision-text,
.valores-text {
    flex: 1 1 0;
}

.img-cont img {
    border-radius: 20px;
    width: 100%;
}

.mision .mision-text {
    text-align: center;
    margin-left: 40px;
    background-color: #e2383842;
}

.mision .mision-text h2 {
    padding-bottom: 15px;
}

.mision .mision-text p {
    text-align: justify;
}

/* Visión */
.vision {
    background-color: #fff;
    padding: 50px 70px;
}

.vision .vision-text {
    text-align: center;
    margin-right: 40px;
    background-color: #3174e969;
}

.vision .vision-text h2 {
    padding-bottom: 15px;
}

.vision .vision-text p {
    text-align: justify;
}

/* Valores */
.valores {
    margin-top: 40px;
    background-color: var(--main-yellow-color);
    padding: 50px 70px;
}

.img-cont {
    min-width: 300px;
}

.valores .valores-text {
    text-align: center;
    margin-left: 40px;
    background-color: #e2383842;
}

.valores .valores-text h2 {
    padding-bottom: 15px;
}

.valores .valores-text p {
    text-align: justify;
}

/* Contacto */
footer {
    background-color: #fff;
    padding: 10px 70px;
    box-shadow: 0 -5px 10px 0px #05010133;
}

footer h1 {
    text-align: center;
}

footer .flex {
    justify-content: space-between;
    padding-bottom: 20px;
}

.footer-left {
    text-align: center;
    margin-left: 40px;
}

.footer-left h3 {
    padding-top: 10px;
}

.footer-left .img img {
    width: 180px;
    object-fit: cover;
}

footer .footer-right {
    text-align: center;
}

.footer-right li {
    padding: 20px 30px;
}

.footer-right a {
    font-weight: bold;
    display: flex;
    transition: color .3s;
    text-align: center;
    width: fit-content;
    max-width: 100px;
}

.footer-right i {
    font-size: 1.5em;
    margin-right: 10px;
}

#phone {
    font-size: 1.3em;
    font-weight: bold;
}

#phone:hover {
    cursor: pointer;
}

.footer-right a:hover {
    color: var(--main-blue-color);
}

footer p {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

/* Concurso-titulo */
.concurso-title-container {
    margin-top: 60px;
    height: 85vh;
    background-image: url("./img/qs-bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
}

.concurso-title-container h1 {
    color: #fff;
    text-align: center;
    max-width: 1100px;
    background-color: rgba(0, 0, 0, 0.504);
    padding: 5px;
}

.concurso-title-container a {
    margin-top: 40px;
    background-color: var(--main-yellow-color);
    padding: 20px 60px;
    font-size: 2em;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
}

.concurso-title-container a:hover {
    background-color: #d9b514;
}

/* Concurso-historia */
.concurso-historia {
    margin-top: 30px;
}

.concurso-historia .historia-cont h2 {
    color: var(--main-blue-color);
    padding: 20px 0;
    text-align: center;
}

.concurso-historia .historia-cont p {
    text-align: justify;
}

.concurso-historia .historia-cont iframe {
    margin: 40px auto 20px;
    display: block;
}

/* Concurso-inscripcion */
.concurso-inscripcion .inscripcion-cont {
    background-color: var(--main-blue-color);
    color: #fff;
}

.concurso-inscripcion .inscripcion-cont h2 {
    text-align: center;
    padding: 20px 0;
}

.concurso-inscripcion .inscripcion-cont p {
    text-align: justify;
    padding: 20px 0;
}

/* Utilities */
.short-container {
    max-width: 800px;
    margin: 0 auto;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.relative {
    position: relative;
}

.card {
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 15px -3px #05010133;
    margin: 40px auto;
}

/* Animations */
@keyframes scale {
    10% {
        transform: scale(1.1);
    } 20% {
        transform: scale(1);
    } 30% {
        transform: scale(1.1);
    } 40%, 100% {
        transform: scale(1);
    }
}